<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript">
        const requestUrl = 'http://localhost:8081/getUser';

        function reloadTable() {
            fetch(requestUrl).then(
                response => {
                    response.json().then(
                        data => {
                            let tab = "";
                            data.forEach((user) => {
                                tab += "<tr>";
                                tab += "<td>" + user.id + "</td>";
                                tab += "<td>" + user.name + "</td>";
                                tab += "<td>" + user.lastname + "</td>";
                                tab += "<td>" + user.age + "</td>";
                                tab += "<td>" + user.password + "</td>";
                                let role = "";
                                $.each((user.roles), function (index, value) {
                                    role += value.role + " "
                                })
                                tab += "<td>" + role + "</td>"
                                tab += "</tr>";
                            })
                            $("#MyTable").append(tab);
                        }
                    )

                }
            )
        }
        reloadTable();
    </script>
    <title>Hello user</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto text-white">
        <li class="nav-item">
            <span th:text="${#authentication.getName()}"></span>
            <b>with pole:</b>
            <th:block th:each="authority: ${#authentication.getAuthorities()}">
                <span th:text="${authority.getAuthority()}"></span>
            </th:block>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-1 p-0">
        <nav class="navbar">
            <ul class="navbar-nav ">
                <div sec:authorize="hasAuthority('ADMIN')">
                    <li class="nav-item">
                        <a href="/admin/" class="nav-link active">Admin</a>
                    </li>
                </div>
                <li class="nav-item">
                    <a href="/user/" class="nav-link">User</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-11 p-0">
        <div class="bg-light p-3 mb-2  bg-gradient-secondary">
            <h1>User information-page</h1>
            <div class="col-md-12 p-0">
                <h5 class="card-header">About user</h5>
                <div class="tab-content">
                    <table class="table table-striped" id="MyTable">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>LastName</th>
                            <th>Age</th>
                            <th>Password</th>
                            <th>Role</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>